<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Quiz App</title>
</head>
<body>
   
       
  
    <div class="container">
        <img class="logo" src="/logo/aitho_logo.png" alt="Logo Aitho">
        <h1>Benvenuto al Quiz!</h1>
        <form action="/quiz" method="POST">
            <label for="name">Inserisci il tuo nome:</label>
            <input type="text" id="name" name="name" class="input-field" required>
            <button type="submit" class="btn" id="submit-button">Inizia il quiz</button>
        </form>
    </div>
</body>
</html>
